<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form action="" method="POST" class="" role="form">
      <div class="form-group">
        <legend>Form title</legend>
      </div>
      <div class="form-group">
        <label>UserName</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control"/>
      </div>
      <div class="form-group">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
  </form>
  
</body>
</html>